<div id="wrapper">
  <div id="stream"></div>

  <div id="map"></div>
</div>

<script type="text/javascript" charset="utf-8">
  var gmap;
  var map;
  
  // Initialize everything ---------------------------------------------
  $(function(){
    map = $('#map');
    
    gmap = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(56.10938103690236, 315.5268125)
    });
    
    fetchTweets();
  });
  
  
  
  // Handle the stream from the server ---------------------------------
  var periodicXHReqCheck = function () {
     var fullResponse = util.trim(xhReq.responseText);
     var responsePatt = /^(.*@END@)*(.*)@END@.*$/;
     if (fullResponse.match(responsePatt)) { // At least one full response so far
       var recentTweet = fullResponse.replace(responsePatt, "$2");
       console.log(recentTweet);
     }
   }
</script>