/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset-meyerweb
 *= require_self
 *= require_tree .
 */


// kuler colors: https://kuler.adobe.com/colour-sample-01-color-theme-3277324/
$nav-height: 50px;
$app-name-height: 20px;
$app-name-padding: ($nav-height - $app-name-height)/2;

$nav-link-height: 16px;
$nav-link-padding: ($nav-height - $nav-link-height)/2;

body {
  font-family: Helvetica, Arial, sans-serif;
}

#nav {
  height: $nav-height;
  background-color: #FFFFF0;
  
  h1 {
    height: $nav-height - $app-name-padding;
    width: 200px;
    float: left;
    background-color: #3B241D;
    color: #FFFFF0;
    
    text-align: center;
    font-weight: bold;
    font-size: $app-name-height;
    letter-spacing: 3px;
    padding-top: $app-name-padding;
  }
  
  ul {
    
  }
  
  li {
    font-size: $nav-link-height;
    display: inline;
    
    a {
      color: #3B241D;
      float: left;
      display: block;
      padding-top: $nav-link-height;
      padding-left: 20px;
      
    }
  }
  
  #stats {
    float: right;
    padding-top: $nav-link-height;
    padding-right: 20px;
  }
}
#wrapper {
  position: relative;
}
#stream {
  position: absolute;
  top: 20px;
  left: 90px;
  bottom: 20px;
  width: 300px;
  z-index: 9999999;
  background-color: rgba(100, 100, 100, 0.8);
  overflow: hidden;
}
#map {
  height: 400px;
}