.tweet_card {
  background-color: #FFF;
  margin: 20px;
  padding: 10px;
  
  p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  span {
    img {
      width:  20px;
      height: 20px;
    }
    a {
      text-decoration: none;
    }
  }
}
.tweet_card.happiness_neutral, .tweet_card.happiness_good, .tweet_card.happiness_bad {
  border-left-width: 5px;
  border-left-style: solid;
}
.tweet_card.happiness_neutral {
  border-left-color: #bfbfbf;
}
.tweet_card.happiness_good {
  border-left-color: #24e048;
}
.tweet_card.happiness_bad {
  border-left-color: #fa645a;
}